
<%= link_to profile_path, 
    data: {turbo_frame: "profile_modal", turbo_prefetch: false},
        class: "flex items-center gap-3 rounded-xl px-1 py-2 hover:bg-white/5 transition group-data-[collapsed=true]/sidebar:justify-center group-data-[collapsed=true]/sidebar:px-0" do %>
        <div class="h-12 w-12 rounded-full overflow-hidden ring-2 ring-emerald-900/30 shadow-lg bg-zinc-900">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar, class: "h-full w-full object-cover", alt: "Profile avatar" %>
          <% else %>
            <%= image_tag "default_icon.png", class: "h-full w-full object-cover", alt: "Profile avatar" %>
          <% end %>
        </div>
    <span class="text-xs text-zinc-400 truncate group-data-[collapsed=true]/sidebar:hidden">
      <%= user.email %>
    </span>
  <% end %>