@import "tailwindcss";

@layer base {
    :root {
        --bg: 43 33% 96%;
        --surface: 43 33% 92%;
        --text: 222 47% 11%;
        --muted: 215 16% 47%;
        --border: 220 13% 80%
    }

    html[data-theme="dark"] {
        --bg: 222 47% 7%;
        --surface: 222 35% 12%;
        --text: 210 40% 98%;
        --muted: 215 20% 65%;
        --border: 215 19% 25%
    }

    html[data-theme="gray"] {
        --bg: 220 14% 12%;
        --surface: 220 14% 16%;
        --text: 210 40% 96%;
        --muted: 215 20% 70%;
        --border: 220 14% 28%
    }

    html[data-theme="offwhite"] {
        --bg: 43 33% 96%;
        --surface: 43 33% 92%;
        --text: 222 47% 11%;
        --muted: 215 16% 47%;
        --border: 220 13% 80%
    }
    body {
        background-color: hsl(var(--bg));
        color: hsl(var(--text))
    }
}
