<div
  class="-mx-6 -my-6 h-full min-h-0 relative"
  data-controller="drawer agenda-drawer"
  data-agenda-drawer-url-value="<%= dashboard_agenda_path %>"
>
  <div class="flex h-full min-h-0 min-w-0 p-4">
    <section class="min-w-0 flex-1 min-h-0">
      <%= render "dashboard/calendar_frame", events: @occurrences, start_date: @start_date %>
    </section>
  </div>
  <div
    data-agenda-drawer-target="overlay"
    data-action="click->agenda-drawer#close"
    class="absolute inset-0 z-40 bg-black/0 opacity-0 pointer-events-none transition-opacity duration-300">
  </div>
  <div
    data-agenda-drawer-target="panel"
    role="dialog"
    aria-modal="true"
    class="absolute right-4 top-4 bottom-4 z-50 pointer-events-auto
           overflow-hidden rounded-2xl border border-emerald-900/40
           bg-zinc-950/40 shadow-2xl
           translate-x-[120%] transition-transform duration-300 ease-in-out"
    style="width: 0px;"
  >
    <%= turbo_frame_tag "agenda_drawer",
          class: "block h-full w-full",
          data: {
            agenda_drawer_target: "frame",
            action: "turbo:before-fetch-request->agenda-drawer#showSkeleton turbo:frame-load->agenda-drawer#frameLoaded"
          } do %>
    <% end %>
  </div>
  <template data-agenda-drawer-target="skeleton">
    <%= render "dashboard/agenda_drawer_skeleton" %>
  </template>
</div>
