<%= link_to @path,
  class: ["studs-nav-link", ("is-active" if @active)].compact.join(" "),
  aria: { current: (@active ? "page" : nil) } do %>

  <% if @icon_name.present? %>
    <span class="studs-nav-icon">
      <%= helpers.icon @icon_name %>
    </span>
  <% end %>

  <span class="truncate"><%= @label %></span>
<% end %>
