<%= link_to @path, class: classes do %>
  <% if @icon_name.present? %>
    <span class="shrink-0">
      <%= helpers.icon @icon_name, library: "huge_icons", class: icon_classes %>
    </span>
  <% end %>
  <span class="truncate"><%= @label %></span>
<% end %>
